ul{
    list-style-type: none;
    margin:0;
    padding:0;
    width:200px;
    color:white;
    background-color: rgb(15, 15, 15);
    
}
li a{
    display: block;
    color:white;
    padding: 8px 16px;
    text-decoration: none;
}
 /*hover*/
 li a:hover{
     background-color:rgb(251, 255, 0);
     color:rgb(15, 15, 15);
 }
 .active {
     background-color:rgb(251, 255, 0) ;
     color:rgb(15, 15, 15);

 }